*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------- */


/* header  */

.container-header{
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col .logo{
  margin-left: 20px;
}

.logo{
  margin-right: 10px;
}

.logo img{
  width: 100%;
}

.button, select{
  border-radius: 5px;
  border: 1px solid gray;
}

select{
  background-color: rgb(236, 236, 236);
  padding: 3px 40px 3px 0;
  margin: 0px 10px 0px 2px;
}

.button{
  padding: 3px 20px 3px 20px;
  margin-right: 20px;
}

.button:active{
  background-color: rgba(128, 128, 128, 0.528);
}

/* main  */
main{
  background-color: black;
}

.container{
  width: 700px;
  margin: 0 auto;
  background-color: blue;
  height: 700px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.square{
  width: calc(100% / 10);
  height: calc(100% / 10);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.clicked{
  background-color: rgb(114, 173, 233);
}

.red{
  background-color: red;
  background-image: url("../img/bomba.png");  
  background-size: contain;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.event-none{
  pointer-events: none;
}


/* footer*/

footer{
  width: 100%;
  height: 50px;
}

.container-footer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-footer a{
  color: blue
}

.row-footer{
  position: relative;
  width: 100%;
  height: 100%;
}

.col-footer-sx{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.col-footer-center{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
}

.points{
  background-color: blue;
  border: 1px solid black;
  border-radius: 5px;
  transition: 1s;
}

.points p{
  color: white;
  transition: 1s;
  padding: 10px;
}

.points:hover{
  background-color: aqua;
  border: 1px solid;
  box-shadow: 5px 10px rgba(128, 128, 128, 0.546);

}

.points p:hover{
  color: black;
}




